<h3>Summary</h3>
<div class="dashboard-summary">
    <div class="elapsedTime dashboard-summary-item">
        <div class="summary-item-value">
            {{format-elapsed-time model.Elapsed}}
        </div>
        <label class="summary-item-title">Elapsed Time</label>
    </div>
    <div class="mhsAv dashboard-summary-item">
        {{#if speedIsGh}}
            <div class="summary-item-value">
                {{format-decimal-ghs model.getMHsAv 2}}
            </div>
            <label class="summary-item-title">Avg Gh/s</label>
        {{else}}
            <div class="summary-item-value">
                {{format-decimal model.getMHsAv 2}}
            </div>
            <label class="summary-item-title">Avg Mh/s</label>
        {{/if}}


    </div>
    <div class="totalMhs dashboard-summary-item">
        {{#if speedIsGh}}
            <div class="summary-item-value">
                {{format-decimal-ghs model.getTotalMH 2}}
            </div>
            <label class="summary-item-title">Total Gh</label>
        {{else}}
            <div class="summary-item-value">
                {{format-decimal model.getTotalMH 2}}
            </div>
            <label class="summary-item-title">Total Mh</label>
        {{/if}}
    </div>
</div>