<article id="dashboard">
    <header id="dashboard-header" class="row">
        <div class="col-md-12 dashboard-title-container">

            <h1 class="dashboard-title">Dashboard</h1>
            <div id="dashboard-controls-container" class="pull-right">
                {{datetimerange-picker startDateBinding='startDate' endDateBinding='endDate'}}
                <div class="dashboard-speed-metric-container btn-group">
                    <label>Show Speed As:</label><br/>
                    <button {{action 'changeSpeedMetric' 'MH'}}
                            id="dashboard-speed-mh" type="button" class="btn btn-default btn-xs active">
                        Mh/s
                    </button>
                    <button {{action 'changeSpeedMetric' 'GH'}}
                            id="dashboard-speed-gh" type="button" class="btn btn-default btn-xs">
                        Gh/s
                    </button>
                </div>
            </div>
        </div>
    </header>
    <section id="dashboard-summary-container">
        {{render 'dashboard.summary' model.summary}}
    </section>
    <section id="dashboard-analytics-container">
        <div class="row">
            <div class="col-md-6">
                <p class="dashboard-chart-info muted-text">Overall Performance for:&nbsp;&nbsp;
                    <span class="dashboard-chart-daterange">{{dateRange}}</span>
                </p>
                {{line-chart model=model.summaryTrend key='SUMMARY'}}
            </div>
            <div class="col-md-6">
                <p class="dashboard-chart-info muted-text">Performance by Device for:&nbsp;&nbsp;
                    <span class="dashboard-chart-daterange">{{dateRange}}</span>
                </p>
                {{line-chart model=model.minerTrend key='MINER' tickInterval=minerChartInterval}}
            </div>
        </div>
    </section>

    <section class="dashboard-miners-table-container">
        {{render 'miners.list' model.miners}}
    </section>

    <section class="dashboard-restart-miner-container">
        <h3>Restart/Reboot</h3>
        <div class="well">
            {{render 'elements.restart-reboot' controller='elements.restart-reboot'}}
        </div>
    </section>

</article>
